<!DOCTYPE html>
<html>
<head>
    <title>Alterar produto</title>
</head>
<body>
    <h1>Alterar endereco</h1>
    <form id="formproduto" action="/alterarEnderecodb" method="post">
        <label for="nome">Nome:</label><br>
        <input type="text" id="nome" name="nome" required><br>    
        <label for="id_endereco">id_endereco:</label><br>
        <input type="text" id="id_endereco" name="id_endereco" required><br>
        
        <button type="submit">Alterar endereco</button>
    </form>
</body>
</html>