<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <title>Painel de endereço</title>
        <script>
            function voltar() {
                window.history.back();
            }
        </script>
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="../views/index.html"><img src="../image/logo.png" alt="Shopping Cart"></a>
            </div>
        </header>
        <main>
            <div class="painel">
                <div class="info-est">
                    <i class="fas fa-map-marker-alt stts"></i>
                    <h1>Endereço</h1>
                </div>
                <div class="config-est">
                    <a href="/cadastrarEndereco"><button  class="panel-button" >Criar Endereço</button></a> 
                    <a href="/alterarEndereco"><button class="panel-button">Alterar Endereço</button></a>        
                    <a href="/deletarEndereco"> <button class="panel-button">Deletar Endereço</button></a>  
                    <a href="/consultarEndereco"><button class="panel-button">Consultar Endereço</button></a>
                </div>   
            </div>
            <button onclick="voltar()" class="formButton voltar">Voltar</button>
        </main>
    </body>
</html>