<!DOCTYPE html>
<html>
<head>
    <title>Formulário do Estabelecimento</title>
</head>
<body>
    <h1>Adicionar Estabelecimento</h1>
    <form id="formCliente" action="/criarEstabelecimentodb" method="post">
        <label for="nome">Nome:</label><br>
        <input type="text" id="nome" name="nome" required><br>
        <label for="especialidade">Especialidade:</label><br>
        <input type="text" id="especialidade" name="especialidade" required><br>
        <label for="endereco">Endereço:</label><br>
        <input type="text" id="endereco" name="endereco" required><br>
        <button type="submit">Adicionar Estabelecimento</button>
    </form>
</body>
</html>