<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="../public/style.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
            <title>iFood</title>
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="../views/index.html"><img src="../public/image/logo.png" alt="Shopping Cart"></a>
            </div>
        </header>
        <main>
            <div class="cadastro">
                <h1>Falta pouco para matar sua fome!</h1>
                <p>Como deseja continuar?</p>
                <div class="social">
                    <div class="facebook">
                        <a href="#">
                            <img src="../public/image/facebook.png" alt="Facebook">
                            <p>Continuar com o Facebook</p>
                        </a>
                    </div>
                    <div class="google">
                        <a href="#">
                            <img src="../public/image/pesquisa.png" alt="Google">
                            <p>Fazer o Login com o Google</p>
                        </a>
                    </div>
                </div>
                <div class="outro">
                    <!-- <div class="metodo">
                        <a href="#">Celular</a>
                    </div>
                    <div class="metodo">
                        <a href="#">E-mail</a>
                    </div> -->
                    <a href="#" class="metodo">Celular</a>
                    <a href="#" class="metodo">E-mail</a>

                </div>
            </div>
        </main>
    </body>
</html>