<!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <title>iFood</title>
    </head>
    <body>
        <header>
            <div class="prt">
                <div class="logo">
                    <img src="../image/logo.png" alt="Shopping Cart">
                </div>
                <nav>
                    <ul>
                        <li><a href="#">Início</a></li>
                        <li><a href="#">Restaurantes</a></li>
                        <li><a href="#">Mercados</a></li>
                        <li><a href="#">Bebidas</a></li>
                        <li><a href="#">Farmácias</a></li>
                        <li><a href="#">Pets</a></li>
                        <li><a href="#">Shopping</a></li>
                    </ul>
                </nav>
            </div>
            <div class="prt">
                <div class="search-bar">
                    <span class="search-icon"><i class="fas fa-search"></i></span>
                    <input type="text" placeholder="Busque por um item ou loja">
                </div>
            </div>
            <div class="prt">
                <div class="login-btn">
                    <i class="fas fa-sign-in-alt"></i><a href="entrar.html"></a>
                </div>
                <div class="cart-icon">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="cart-value">R$0.00</span>
                </div>
            </div>           
        </header>
        <div class="container">
            <div class="main-cards">
                <div class="card">
                    <img src="../image/hamburguer.jpg" alt="Restaurantes">
                    <div class="card-info">
                        <p>Restaurantes</p>
                    </div>
                </div>
                <div class="card">
                    <img src="../image/carrinho.jpg" alt="Mercado">
                    <div class="card-info">
                        <p>Mercado</p>
                    </div>
                </div>
                <div class="card">
                    <img src="../image/remedio.jpg" alt="Farmácia">
                    <div class="card-info">
                        <p>Farmácia</p>
                    </div>
                </div>
                <div class="card">
                    <img src="../image/racao.jpg" alt="Pet">
                    <div class="card-info">
                        <p>Pet</p>
                    </div>
                </div>
                <div class="card">
                    <img src="../image/sacola.jpg" alt="Express">
                    <div class="card-info">
                        <p>Express</p>
                    </div>
                </div>
                <div class="card">
                    <img src="../image/bebida.jpg" alt="Bebidas">
                    <div class="card-info">
                        <p>Bebidas</p>
                    </div>
                </div>
                <div class="card">
                    <img src="../image/shopping.jpg" alt="Shopping">
                    <div class="card-info">
                        <p>Shopping</p>
                    </div>
                </div>
                <div class="card">
                    <img src="../image/gourmet.jpg" alt="Gourmet">
                    <div class="card-info">
                        <p>Gourmet</p>
                    </div>
                </div>    
            </div>
            <div class="wide-cards">
                <div class="wide-card">
                    <img src="../image/banner1.png" alt="Entrega Grátis">
                </div>
                <div class="wide-card">
                    <img src="../image/banner2.png" alt="Restaurantes com Cupom">
                </div>
                <div class="wide-card">
                    <img src="../image/banner3.png" alt="Restaurantes Favoritos">
                </div>
                <div class="wide-card">
                    <img src="../image/banner4.png" alt="Top Restaurantes com Desconto">
                </div>
            </div>
        </div>
        <footer>
            
            <hr>
            <div class="footer-bottom">
                <div class="logo">
                    <img src="../image/logo.png" alt="iFood Logo">
                </div>
                <div class="copyright">
                    <p>&copy; 2022 iFood. Todos os direitos reservados.</p>
                    <p>Endereço fictício, Cidade - Estado, CEP: 12345-678</p>
                </div>
                <div class="terms">
                    <a href="#">Termos e Condições</a>
                    <a href="#">Código de Conduta</a>
                    <a href="#">Privacidade</a>
                    <a href="#">Dicas de Segurança</a>
                </div>
            </div>
        </footer>
    </body>
</html>