<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <title>Painel de CRUDS</title>
        <script>
            function voltar() {
                window.history.back();
            }
        </script>
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="../views/index.html"><img src="../image/logo.png" alt="Shopping Cart"></a>
            </div>
        </header>
        <main>
            <div class="painel">
                <div class="info-est">
                    <i class="fas fa-cog stts"></i>
                    <h1>Configurações</h1>
                </div>
                <div class="config-est">
                    <a href="/Produto-/painel"><button  class="panel-button" >Painel Produto</button></a> 
                    <a href="/Entregador/painel"><button class="panel-button">Painel Entregador</button></a>        
                    <a href="/Estabelecimento/painel"> <button class="panel-button">Painel Estabelecimento</button></a> 
                    <a href="/Endereco/painel"><button class="panel-button">Painel Endereço</button></a> 
                </div>                
            </div>
            <button onclick="voltar()" class="formButton voltar">Voltar</button>
        </main>
    </body>
</html>