body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #ffffff;
    color: #c7c7c7;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #d6d6d6;
}

.prt {
    display: flex;
    align-items: center;
    color: #717171;
}

.logo img{
    height: 25px;
    margin-right: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: auto;
    margin-left: 20px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #717171;
    text-decoration: none;
    font-size: 10px;
}

nav ul li a:hover {
    color: red;
}

.search-bar{
    flex: 1; 
    text-align: center;
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    border-radius: 5px;
    width: 500px;
    padding: 5px;
}

.search-bar input {
    padding: 5px;
    background-color: #f7f7f7;
    width: 430px;
    border: none;
}

.search-bar input:focus {
    outline: none;
}

.search-icon {
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
}

.search-icon i {
    font-size: 18px;
    color: red;
    margin-right: 5px;
}

input[type="text"] {
    border: none;
    padding: 5px;
}

.login-btn, .cart-icon {
    margin-left: auto;
    margin-right: 10px; 
}

.login-btn i {
    font-size: 18px;
    color: red; 
    cursor: pointer;
    margin-right: 15px;
}

.cart-icon {
    display: flex;
    align-items: center;
}

.cart-icon i {
    font-size: 18px; /* Define o tamanho do ícone */
    color: red; /* Define a cor do ícone */
    cursor: pointer; /* Adiciona um cursor ao ícone */
    margin-right: 5px; /* Adiciona um espaçamento entre o ícone e o valor do carrinho */
}

/* Body */
.container {
    display: inline-block;
    justify-content: left;
    padding: 20px;
    padding-left: 120px;
}

.main-cards, .wide-cards {
    display: flex;
    flex-direction: row;
}

.card {
    width: 90px;
    padding: 10px;
    text-align: center;
    transition: box-shadow 0.3s ease;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10px;
}

.card p {
    margin: 0;
    font-size: 12px;
}

.wide-card {
    width: 330px;
    height: 160px;
    margin-right: 20px; /* Adiciona uma margem entre os wide-cards */
    margin-bottom: 20px; /* Adiciona um espaço entre as linhas de cards */
    text-align: center;
}

.wide-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px; /* Adiciona borda arredondada aos wide-cards */
}


.wide-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: left; 
    margin-top: 120px; 
}

.footer {
    display: flex;
    justify-content: space-around;
    background-color: #f5f5f5;
    padding: 20px 0;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    padding: 10px;
    font-size: 12px; /* Tamanho do texto */
}

.logo img {
    height: 30px;
}

.terms {
    display: flex; /* Faz os links ficarem em uma linha */
}

.terms a {
    text-decoration: none;
    color: #333;
    margin-left: 10px; /* Espaçamento entre os links */
}

.terms a:hover {
    text-decoration: underline; /* Sublinhar os links ao passar o mouse */
}

.cadastro {
    width: 400px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    border: 1px solid #33333328;
    border-radius: 10px;
    padding: 30px;
}

.facebook {
    width: 350px;
    height: 40px;
    background-color: #344783;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
}

.facebook:hover{
    background-color: #49588a;
}

.facebook a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-right: 10px;
}

.facebook a img {
    width: 30px;
    margin-top: 5px;
}

.facebook a p{
    justify-content: center;
}

.google {
    width: 350px;
    height: 40px;
    background-color: #FFF;
    margin: auto;
    margin-top: 25px;
    padding: 10px;
    border: 1px solid #dadada;
    border-radius: 5px;
}

.google:hover{
    background-color: #dfdfdf;
}

.google a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-right: 10px;
}

.google a img {
    width: 30px;
    margin-top: 5px;
}

.google a p{
    justify-content: center;
    margin-left: 10px;
}

.outro{
    display: flex;
    padding: 15px; 
    justify-content: space-between;
}

.metodo{
    border: 1px solid #dfdfdf;
    padding: 20px 50px;
    border-radius: 5px;
    text-decoration: none;
    color: #686868;
}

.metodo:hover{
    background-color: red;
    color: white;
}

.ifood-button {
    display: inline-block;
    background-color: #ff3e3e;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .ifood-button:hover {
    background-color: #e62828;
  }

dialog::backdrop {
    background-color: rgb(0 0 0 / .4);
}
dialog{
    height: 80%;
    width: 25%;
    justify-self: right;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    border-left: 1px solid #ddd;
    padding: 20px;
    margin-right: 400px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

#modal.open {
    transform: translateX(10);
}

#modal button {
    float: right;
}
 #modal div{
    justify-content: right;
 }
 .estabelecimentoDiv {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    gap: 10px; /* Espaço entre a imagem e o texto */
}

.imgDiv img {
    object-fit: cover; /* Garante que a imagem cubra todo o espaço disponível */
}
