<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <title>Consultar Entregadores</title>
        <script>
            function voltar() {
                window.history.back();
            }

            fetch('/entregadores')
            .then(response => response.json())
            .then(data => {
                const entregadorList = document.getElementById('entregador-list');
                data.forEach(entregador => {
                    const li = document.createElement('li');
                    li.textContent = `Nome: ${entregador.nome}, especialidade: ${entregador.especialidade}, endereco: ${entregador.endereco}`;
                    entregadorList.appendChild(li);
                });
            })
            .catch(error => console.error('Erro ao obter entregadores:', error));
        </script>
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="../views/index.html"><img src="../image/logo.png" alt="Shopping Cart"></a>
            </div>
        </header>
        <main>
            <div class="consultar">
            
            </div>
            <button onclick="voltar()" class="formButton voltar">Voltar</button>
        </main>
    </body>
</html>