<!DOCTYPE html>
<html>
<head>
    <title>Criar entregador</title>
</head>
<body>
    <h1>Criar entregador</h1>
    <form id="formCliente" action="/criarentregadordb" method="post">
        <label for="nome">Nome:</label><br>
        <input type="text" id="nome" name="nome" required><br>

        <label for="email">email:</label><br>
        <input type="text" id="email" name="email" required><br>

        <label for="telefone">telefone:</label><br>
        <input type="text" id="telefone" name="telefone" required><br>

        <button type="submit">Adicionar entregador</button>
    </form>
</body>
</html>