<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>iFood</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="../views/index.html"><img src="../image/logo.png" alt="Shopping Cart"></a>
        </div>
    </header>
    <main>
        <div class="cadastro">
            <h1>Falta pouco para matar sua fome!</h1>
            <form id="smsForm">
                <label for="sms">Email: </label>                
                <input type="sms" id="sms" name="sms" required><br>            
                <button type="button">Continuar</button>
            </form>
        </div>
    </main>
    <script type="text/javascript" src="script.js"></script>
</body>
</html>