<!DOCTYPE html>
<html>
<head>
    <title>Alterar produto</title>
</head>
<body>
    <h1>Alterar produto</h1>
    <form id="formproduto" action="/alterarprodutodb" method="post">
        <label for="nome">Nome:</label><br>
        <input type="text" id="nome" name="nome" required><br>

        <label for="descricao">Descrição:</label><br>
        <input type="text" id="descricao" name="descricao" required><br>

        <label for="preco">Preço:</label><br>
        <input type="text" id="preco" name="preco" required><br>

        <label for="id_produto">id_produto:</label><br>
        <input type="text" id="id_produto" name="id_produto" required><br>
        
        <button type="submit">Adicionar produto</button>
    </form>
</body>
</html>